*{
    font-family: monospace;
    font-size: large;
    
}

/* Global style */

html{
}
.carousel-inner{
    object-fit: cover;
}

body{
   background-color: #a75293;
}

/* Header, navbar */

.navbar-color{
    background-color: #b5179e;
}

.navbar-brand{
    color: whitesmoke;
}

.navbar-brand-icon{
    height: 50px;
}

.navbar-brand:hover{
    color: whitesmoke;
}

.btn-primary{
    background-color: #9f86c0 ;
    color: white;
}

.btn-primary:hover{
    background-color: 9f86c0   ;
    color: white;
    border: 1px solid #545c75 ;
}

.navbar-nav{
    display: flex;
    flex-direction: row-reverse;
}

#UserLogId{

    margin: 10px;
    font-size: larger;
    color: whitesmoke;
}
.carousel-img{
    object-fit: cover;
}
/* Titulo */
h1{
    object-position: center;
}
/* Main section */

.main-section{
    margin: 0;
    padding: 0;
}

.row{
    margin: 0;
}

.main-section-write-card , .main-section-presentation-card{
    color: black;
    background-color: #f2f2f2 ;
    border-radius: 0;
    margin: 10px;
    padding: 10px;
}

.main-section-read-container{
    color: whitesmoke;
    background-color: #f2f2f2 ;
    border-radius: 0;
    margin: 10px;
    min-height: 150px;
}

#textoForoId{
    min-height: 100px ;

}

/* mensajes */

.post{

    background-color:       hsla(273,91%,27%, 0.7)    ;
    color:   white ;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

/* footer */

footer{
    background: #414141;
    padding: 10px 0 10px 0;
    color: aliceblue;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #ba66ff;
    color: ghostwhite
  }
.bi:hover{
    cursor: pointer;
}

/* Register/login */

.col-login{
    margin-top: 10px;
    padding: 10px;
    background-color:   #9c7a9d ;
    color: whitesmoke;
}
.col-register{
    margin-top: 10px;
    padding: 10px;
    background-color:    #9c7a9d ;
    color:  whitesmoke;
}